Xft.dpi: 200

URxvt*font: xft:xos4 Terminus:size=12
! URxvt*background: #151515
! URxvt*foreground: #d7d0c7
URxvt*scrollBar: false

! special
*.foreground:   #d7d0c7
*.background:   #151515
*.cursorColor:  #d7d0c7

! black
*.color0:       #343434
*.color8:       #242324

! red
*.color1:       #9a4040
*.color9:       #e14040

! green
*.color2:       #75bd92
*.color10:      #66b767

! yellow
*.color3:       #69724c
*.color11:      #d9f062

! blue
*.color4:       #53525f
*.color12:      #6f6eb4

! magenta
*.color5:       #764862
*.color13:      #b14191

! cyan
*.color6:       #426360
*.color14:      #4fd4d0

! white
*.color7:       #a7ada9
*.color15:      #cef1f4

